@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@



<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style>

            .w3-container1 {
                display: flex;
                justify-content: center;
                padding: 20px;
            }

            .column {
                /*background-color: #f0f0f0;*/
                padding: 20px;
                border-radius: 5px;
                margin: 10px;
            }
            .row {
                /*background-color: #f0f0f0;*/
                padding: 20px;
                border-radius: 5px;
                margin: 10px;
            }
            .section-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        </style>
    </head>

    <body>

        <div class="w3-container1 w3-blue">
            <div class="row">
                <h1>Curriculum</h1>
            </div>

            <div class="row">
                <h1>Raul Medina Villa</h1>
                <p>Lic. en Informatica</p>
            </div>
            <div class="column">

                <div class="row">
                    <h1></h1>
                </div>
            </div>

        </div>
        <div>

            <div class="w3-third">
                <h2>Certifications</h2>
                <p>Certified HTML & CSS</p>
                <p>Advanced JavaScript</p>


            </div>


            <div class="w3-third">
                <h2>Habilidades</h2>
                <p>HTML</p>
                <p>JavaScript</p>
                <p>Css</p>
                <p>Java</p>
                <p>C#</p>
                <p>Python</p>
            </div>

            <div class="w3-third">
                <h2>Destrezas</h2>
                <p>Manejo de frameworks como ASP.NET, JQuery y Spring</p>
                <p>Diseño responsivo y adaptable a diferentes dispositivos</p>
                <p>Desarrollo de APIs y conexión con bases de datos</p>
                <p>Manejo de control de versiones como Git</p>

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

    </body>
    </html>


